.nav-items-space{
  padding-left: 20px;
}

.headerblogspace{
  padding-top: 2%;
  padding-bottom: 0.0001%;
}

a:hover{
  text-decoration: none;
}

.row#li{
  list-style-type: none;
  text-align: center;
}
